In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('tweet2.db')
c = conn.cursor()

In [3]:
c.execute("""CREATE TABLE temp_tweet
        (created_at, favorite_count, favorited, filter_level, lang, 
                        retweet_count, retweeted, source, text, truncated, user_created_at,  
                       user_followers_count, user_location, user_lang, user_name, 
                        user_screen_name, user_time_zone, user_friends_count,geo_enabled,geo,place_name)""")

In [4]:
c.execute("""CREATE TABLE info_tweet
        (created_at, favorite_count, favorited, filter_level, lang, 
                        retweet_count, retweeted, source, text, truncated, user_created_at,  
                       user_followers_count, user_location, user_lang, user_name, 
                        user_screen_name, user_time_zone, user_friends_count,geo_enabled,geo,place_name)""")

In [6]:
c.execute("""CREATE TABLE tweet_class
        (text, class)""")